.topics-container {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13vw, 14vw));
    grid-auto-rows: minmax(150px, 200px);
    height: max-content;
    grid-auto-flow: dense;
    gap: 25px;
}

.search-page:active {
    color: green;
}

.search-page {
    position: relative;
    background-color: #121212;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    height: 100%;

    /* article{
        display: flex;
        justify-content: space-between;
    } */
    .song-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        padding: 10px 0;
        font-size: 12px;
        gap: 1vw;
        height: 56px;

        img {
            height: 40px;
            width: 40px;
        }

       /*  .play-button,
        .add-button,
        .song-options-button {
            background-color: inherit;
            opacity: 0;
        } */

       /*  .play-button svg,
        .add-button svg,
        .song-options-button svg {
            width: 16px;
            height: 16px;
            color: #b3b3b3;
            fill: currentColor;

            &:hover {
                color: white;
                fill: currentColor;
            }

            & .clicked {
                color: #1db954;
                fill: currentColor;
            }

            & .clicked:hover {
                color: #1ac757;
                fill: currentColor;
            }
        } */

        &:hover {
            background-color: #282828;
            border-radius: 6px;


        }
    }

    h1 {
        color: white;
        margin: 0;
    }

    form {
        position: absolute;
        top: 10px;
        margin-left: 80px;
        left: 24px;
        /* left: minmax(100px,200px); */
        display: flex;
        height: 48px;
        
        background-color: #242424;
        border-radius: 50px;
        padding-left: 10px;
        opacity: 1;
    }

    form input {
        
        width: 364px;;
        background-color: #242424;
        color: white;
        font-size: 14px;
        /* border: #242424; */
        margin-left: 3px;
        margin-right: 3px;
    }
    form:focus-within {
        outline: 2px solid white;
    }
    form svg {
        height: 16px;
        width: 16px;
        fill: white;
    }
    form label{
        margin-top: 11px;
    }

    .play-button {
        fill: white;
    }
}

.search-page article:hover {

    .play-button svg,
    .add-button svg,
    .song-options-button svg {
        opacity: 1;
        color: white;
        fill: white;
    }
}
input:focus-visible{
    outline: none; /* Change color as per your design */
    /* .search-details{
        outline: white;
    } */
  /* Adjust thickness as needed */

}
input{
    border: #242424;
}
