.app-header {
    /* position: fixed; */
    /* top: 0;
    right: 10px; */
    grid-column: 2;
    grid-row: 1;
    background-color: #121212; 
    
    height: 10vh;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
   
}