
.phone-library-header{
display: grid;
margin-left: 50px;
grid-template-columns: 75vw 20vw 0vw;
grid-template-rows: auto;
align-items: center;
position: relative;
top: 19px;
z-index: 17;

height:max-content;
margin-bottom: 40px;
.phone-add-svg{
    height: 25px;
    width: 25px;
    fill: #b3b3b3;
}
    div{
        display: flex;
        align-items: center;
        gap: 10px;
       }
    .phone-library-svg{
        height: 25px;
        width: 25px;
        fill: #b3b3b3;
    }
}

.station-preview{
    width: 100%;
}