.more-modal,.station-modal {
    position: absolute;
    font-size: 13px;
    color: #b3b3b3;
    background-color: #282828;
    padding: 4px;
    border-radius: 4px;
    display: none;

    ul {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    svg {
        height: 16px;
        width: 16px;
        fill: #b3b3b3;
    }

    li {
        display: flex;
        gap: 15px;
        align-items: center;
        padding: 12px 8px 12px 12px;
    }

    li:hover {
        background-color: #3d3d3d;
        color: white;

        svg {
            fill: white;
        }

    }
}

.stations-modal {
    display: none;
    width: 250px;
    position: absolute;
    top: 10px;
    background-color: #282828;
    left: -250px;
    border-radius: 4px;
    box-shadow: (0, 0, 0, 0.3) 0px 16px 24px 0px, rgba(0, 0, 0, 0.2) 0px 6px 8px 0px;
}