.details-player {
    display: flex;
    flex-direction: column;
    background-color: gba(0, 0, 0.1);
    left: 0;
    width: 100%;
    border: 11px solid rgb(0, 0, 0, 0.5);
    padding: 10px;
    height: 91.5%;
    align-items: center;

    svg {
        height: 25px;
        fill: white;
    }

    /* .player-seek-and-control svg {
        display: block;
    } */

    section.player-seek-and-control {
        display: flex;
        position: absolute;
    }

    .song-detail {
        position: relative;
        top: 10vh;
    }

    .song-image {
        position: absolute;
        width: 80vw;
        height: 80vw;
        border-radius: 10px;
    }

    section.player-controls {
        display: none;
    }

    .progress-bar-container {
        display: flex;
        position: relative;
        top: 65vh;
        right: -29vw;
        width: 90vw;
        height: 20px;
    }

    .song-detail {
        flex-direction: column;
    }

    .time {
        display: block;
        font-size: 16px;
        color: white;
    }

    .song-info {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        margin-top: 50px;

        position: absolute;
        top: 40vh;
        right:32vw;
    }

    div.artist-name {
 
        flex-direction: row;
        
        width:max-content;
        font-size: 12px;
    }

    div.song-title {
        color: white;
        font-size: 24px;
        width: max-content;
    }

    .player-seek-and-control {
        display: flex;
        position: absolute;
        height: max-content;


    }

    .player-seek-and-control svg {
        display: block;
    }

    .player-controls {
        display: flex;
    }

    svg.add-icn {
        position: absolute;
        top: 47vh;
        right:-14vw;
        width: 30px;
        height: 30px;

    }

    section.player-controls.center {
        position: absolute;
        top: 75vh;
        right: 40vw;
        display: flex;
        gap: 30px;
        justify-content: center;
        align-items: center;

        .next-btn {
            position: absolute;
            top: 3px;
            right: -46vw;
            height: 20px;
            width: 20px;
        }

        .previous-btn {
            position: absolute;
            top: 3px;
            right: -12vw;
            height: 20px;
            width: 20px;
        }

        .player {
            position: absolute;
            top: -13px;
            right: -33vw;
            background-color: inherit;
            height: 70px;
            width: 70px;
            border-radius: 50%;

            svg {
                height: 40px;
                width: 40px;
                fill: white;
            }
        }

        span.effects {
            position: absolute;
            left: 200px;
            display: flex;

            svg {
                height: 25px;
                width: 25px;
                fill: white;
            }
        }

        svg.shuffel {
            display: block;
            position: absolute;
            height: 30px;
            width: 30px;
            top: 5px;
            left: 5.5vw;
        }

        svg.reapet {
            display: block;
            position: absolute;
            left: -270px;
            top: 5px;
            height: 35px;
            width: 35px;
        }
    }

    .down-svg {
        display: block;
        position: absolute;
        top: 0px;
        left: 10px;
        width: 40px;
        height: 40px;
        z-index: 10;
    }

}