.side-library {
    grid-row: 2;
    background-color: #121212;
    border-radius: 10px;
    height: 100%;
    .library-header {
        display: flex;
        align-items: center;
        padding: 10px 16px;
        justify-content: space-between;
        font-size: 15px;

        .add-svg {
            fill: #a7a7a7;
            background-color: #121212;
            height: 16px;
            width: 16px;
            transition: 0.8s
        }

        .add-svg:hover {
            fill: white;
            border-radius: 50%;
            background-color: black;
            /* padding: 8px;   */     
        }

        h1 {
            margin: 0;
            width: max-content;
            transition:color 0.8s;
        }

        div {
            display: flex;
            align-items: center;
            padding: 4px 8px;
            width: 142px;
            height: 40px;
            svg{
                margin-right: 10px;
            }
        }

        .library-svg {
            fill: #a7a7a7;
            height: 24px;
            width: 24px;
            transition:fill 0.8s;
        }

        div:hover {
            h1 {
                color: white;
            }

            svg {
                fill: white;
            }
        }
    }
}