.side-library {
    grid-row: 2;
    background-color: #121212;
    border-radius: 10px;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    .station-list {
        position: relative;
        top: 70px;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0px 8px 8px;
    }

    .library-header {
        display: flex;
        align-items: center;
        padding: 8px 16px;
        gap: 8px;
        justify-content: space-between;
        font-size: 15px;
        position: fixed;
        background-color: inherit;
        width: 420px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        cursor: pointer;
        .add-svg {
            fill: #a7a7a7;
            background-color: #121212;
            height: 16px;
            width: 16px;
            transition: 0.8s
        }

        .add-svg:hover {
            fill: white;
            border-radius: 50%;
            background-color: black;
            /* padding: 8px;   */
        }

        h1 {
            margin: 0;
            width: max-content;
            font-size: 16px;
            transition: color 0.8s;
            padding: 0;
            word-spacing: 0.1px;
        }

        div {
            display: flex;
            align-items: center;
            padding: 4px 8px;
            width: 162px;
            height: 40px;
            gap: 2px;

            svg {
                margin-right: 10px;
            }
        }

        .library-svg {
            fill: #a7a7a7;
            height: 24px;
            width: 24px;
            transition: fill 0.8s;
        }

        div:hover {
            h1 {
                color: white;
            }

            svg {
                fill: white;
            }
        }
    }
}

.side-library::-webkit-scrollbar {
    width: 0;
    /* width of the scrollbar */


    /* height of the scrollbar */
}

.side-library:hover {
    overflow-y: auto;
    /* Show the vertical scrollbar on hover */
}

@media (min-width: 500px) {
    main.main-container.\.main-container-collapsed{
        grid-template-columns: 72px auto;

        .side-layout {
            width: 72px;

            .station-name {
                display: none;
            }

            p.station-createdby {
                display: none;
            }

            section.library-header {
                width: 52px;
            }

            section.library-header {
                display: block;
                
                h1 {
                    display: none;
                }

                .add-svg {
                    display: none;
                }

                div {
                    width: 50px;
                }

            }

            .side-bar {
                padding-top: 8px 12px;
            }

            section.side-bar b {
                display: none;
            }

            svg.library-svg {
                display: block;
            }

            img.station-image {
                margin-left: 3px;

                height: 48px;
                width: 48px;
            }

            section.station-list {
                top: 55px;
            }

            .station-details-container {
                width: 80vw;
            }

            main.main-container {
                display: grid;
                grid-template-columns: 72px auto;
            }


        }
    }
}



@media (max-width:500px) {
    .side-layout {
        position: fixed;
    }

}