.side-bar {
    display: grid;
    padding: 18px 22px;
    align-content: center;
    grid-column: 1;
    grid-row: 1;
    background-color: #121212;
    border-radius: 10px;
    margin: 8px;
    gap: 22px;


    section {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 16px;
        cursor: pointer;
    }

    .icon {
        height: 23px;
        width: 23px;

    }

    .active {
        color: white;

        .icon {
            fill: white;
            
        }
    }

    .not-active {
        color: #b3b3b3;
        transition: 0.8s;  
        .icon {
            fill: #b3b3b3;
            transition: 0.8s;
        }
    }

    .not-active:hover {
        color: white;

        .icon {
            fill: white;
        }

    }

}