.song-options-modal {
  position: absolute; // Make the modal absolute to position it relative to the button
  background-color: #282828;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);

  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative; // Added relative positioning to the modal content

    .close-button {
      position: absolute;
      top: -12px;
      right: -12px;
      background: none;
      border: none;
      color: #fff;
      font-size: 16px;
      cursor: pointer;

      &:before {
        content: '⨂'; // Ensure the content is "⨂"
        position: relative; // Position relative for fine-tuning
        top: -5px; // Move slightly upwards
        right: -5px; // Move slightly to the right
      }
    }

    .option-button {
      display: flex;
      align-items: center;
      background: none;
      border: none;
      color: #fff;
      cursor: pointer;
      font-size: 14px;
      padding: 10px 0;

      .add-button {
        margin-right: 8px;
        width: 16px;
        height: 16px;
      }
    }
  }
}
