@font-face {
  // font-family: caveat;
  // src: url(../../fonts/Caveat/Caveat-Regular.ttf);
}
@font-face {
  // font-family: montserrat;
  // src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: circular-black;
  src: url('../../fonts/lineto-circular-black.ttf');
}

@font-face {
  font-family: circular-bold;
  src: url('../../fonts/lineto-circular-bold.ttf');
}
