@font-face {
  font-family: circular-black;
  src: url(/src/assets/fonts/lineto-circular-black.ttf)
}

@font-face {
  font-family: circular-bold;
  src: url(/src/assets/fonts/lineto-circular-bold.ttf) 
}
